#input{
    cursor: pointer;
    box-shadow: 3px 2px 5px 2px grey;
    margin-right: 2rem;
    padding: 0.5rem;

}
#button{
    cursor: pointer;
    border: 0;
    box-shadow: 3px 2px 5px 2px grey;
    border-radius: 15px;
    padding: 0.5rem 1rem;
}

#button:hover{
background-color: rgb(206, 206, 206);
}

#button:active{
    background-color: rgb(156, 156, 156);
    position: relative;
    top:5px;
    box-shadow: none;
    }
#instruction{
    color: rgb(160, 160, 160);
    font-weight: 100;
}
#listDiv{
    display: flex;
    color: black;
    font-family: "Sono", sans-serif;
    font-weight: 500;
    font-size: larger;
    width: 90vw;
    justify-content: space-between;
    background-color: ghostwhite;
    box-shadow: 3px 2px 5px 2px grey;
    padding: 0.75rem 1rem;
    margin: 1.75rem;
    flex-wrap: wrap;
}

#listDiv:nth-child(2n){
    background-color: rgb(182, 178, 178);
}
#listElem{
    list-style: none;
}

#deleteBtn{
    border: 0;
    background: inherit;
}

#deleteBtn:hover{
    background-color: rgb(206, 206, 206);
}