html{
    font-size: 100%;
}
/* font correction for responsiveness */
@media (max-width : 430px) {
    html{
        font-size: 80%;
    }
}
@media (max-width : 375px) {
    html{
        font-size: 70%;
    }
}

 @media (max-width : 320px) {
     html{
         font-size: 60%;
        }
        }   
 
 
* {
    box-sizing: border-box;
  }

body{
    font-family: "Montserrat" , sans-serif;
    color: rgba(0, 0, 0, 0.863);
    margin: 0;
    padding: 0;
    background-color: rgb(233, 192, 116);
}

.flag{
    border: 0;
    border-radius: 100%;
    height: 10%;
}

header{
   font-family: "Noto Sans", sans-serif;
   background-color: rgba(0, 0, 0, 0.863);
   color: rgb(233, 192, 116);
   padding: 1rem 2rem;
}

hr{
    border-style:dotted ;
    border-color: rgba(248, 248, 255, 0.37);
    border-width: 0.25rem;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 5%;
    
}

h1{
    font-size: 3rem;
    text-align: center;
}

h4{
    font-family: "Lora" ,sans-serif;
}

#first-para{
    line-height: 2;
    text-align: left;
}

.main-container{
    display: inline-flex;
    flex-grow: 1;
    line-height: 2;
    padding: 0.5rem;
    height: 110%;
}

.left{
    overflow-y: auto;
    text-align: left;
    width: 65%;
    padding: 0.5rem;
}

.right{
    background-color: rgba(0, 0, 0, 0.37);
    text-align: left;
    overflow-y: scroll;
    width: 35%;
    padding: 0.5rem;
}

figure > img{
    width: 90%;
}

figure{
    margin: 1rem 0;
}

span.terms{
    font-size: small;
    font-weight: 400;
}

span.bold{
    font-weight: 600;
}


/* form as table  */

form.forms{
    display: inline-block;
    margin-left: 2rem;
}

div.forms1{
    display: inline-flex;
    vertical-align: middle;
}

div.forms{
    display: flex;
    justify-content: space-between;
}

input,label,textarea{
    display: inline-flex;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
}

.btn{
    color: blueviolet ;
    padding: 0.5rem 2rem;
    background-color: rgba(0, 0, 0, 0.863);
    border-radius: 10%;
    box-shadow: 0.5rem 6px rgba(128, 128, 128, 0.26);
}

.btn:hover{
    color: rgb(183, 143, 221);
    padding: 0.5rem 2rem;
    background-color: rgba(0, 0, 0, 0.733);
    border-radius: 10%;
}

.btn:active{
    box-shadow: none;
}

.influence-img{
    text-align: right;
    width: 50%;
}

footer{
    color: rgb(233, 192, 116);
    background-color: rgba(0, 0, 0, 0.863);
    margin: 0 auto;
    align-content: center;
    text-align: center;
    padding: 2rem 1rem;
  }

  .footer-icon{
    color: blueviolet;
    padding: 0 1rem;
  }

  .footer-icon:hover{
    color: rgb(183, 143, 221);
  }


  /* media query to bring right column down in mobile devices */

 


@media (max-width : 730px) {
    body{
        text-align: center;
    }
    .main-container{
        display: block;
        flex-grow: unset;
        height: auto;
        
    }
    .column{
        width: 100%;
    }

    .right{
        overflow-y: unset;
        color: rgb(233, 192, 116);
        background-color: rgba(0, 0, 0, 0.863);
    }
    div.forms{
        display: block;
    }
    
}